.contactItem {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contactText {
  display: flex;
  gap: 20px;
  font-size: 16px;
  margin-right: 20px;
}
.contactName {
  font-weight: bold;
}
.deleteContactBttn {
  width: 70px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(165, 177, 170);
  color: antiquewhite;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-left: auto;
}
.deleteContactBttn:hover {
  background-color: red;
}
.deleteContactBttn:focus {
  background-color: #4caf50;
}
